Repository HackingGate/AltTube-Go: changes, and which lefthook commands are due for each by the changed paths.
All: ent, swag

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ent:
      glob:
        - "ent/schema/*.go"
        - "ent/mixins/*.go"
      run: |
        go generate ./ent
    swag:
      glob:
        - "main.go"
        - "handlers/*.go"
      run: |
        swag init --parseDependency --parseInternal --parseDepth 1

Fix /user/refresh_token API
  handlers/user_handlers/refresh_token.go
Due: swag

chore: fix linting issues
  auth/auth.go
  auth/claims.go
  database/jwt.go
  database/like_video.go
  database/user.go
  ent/schema/access_token.go
  ent/schema/refresh_token.go
  ent/schema/users.go
  handlers/like_video_handlers/add_like_video.go
  handlers/like_video_handlers/get_like_video.go
  handlers/like_video_handlers/get_liked_videos.go
  handlers/like_video_handlers/remove_like_video.go
  handlers/user_handlers/delete_user.go
  handlers/user_handlers/devices/delete_devices.go
  handlers/user_handlers/devices/get_devices.go
  handlers/user_handlers/edit_email.go
Due: ent, swag

Fix golangci-lint error and update lefthook
  auth/auth_middleware.go
  handlers/user_handlers/refresh_token.go
  lefthook.yml
Due: swag

Rename module to match repository path
  go.mod
Due: none

Revert "Rename module to match repository path"
  go.mod
Due: none

Update module import name
  auth/auth.go
  auth/auth_middleware.go
  database/init.go
  database/jwt.go
  database/like_video.go
  database/user.go
  database/video.go
  handlers/like_video_handlers/add_like_video.go
  handlers/like_video_handlers/get_like_video.go
  handlers/like_video_handlers/get_liked_videos.go
  handlers/like_video_handlers/remove_like_video.go
  handlers/piped_handlers/search.go
  handlers/piped_handlers/streams.go
  handlers/user_handlers/delete_user.go
  handlers/user_handlers/devices/delete_devices.go
  handlers/user_handlers/devices/get_devices.go
  handlers/user_handlers/edit_email.go
  handlers/user_handlers/login.go
  handlers/user_handlers/logout_user.go
  handlers/user_handlers/refresh_token.go
  handlers/user_handlers/signup.go
  main.go
Due: swag

chore: fix linting issues
  auth/auth.go
  auth/auth_middleware.go
  database/init.go
  database/jwt.go
  database/like_video.go
  database/user.go
  handlers/like_video_handlers/add_like_video.go
  handlers/like_video_handlers/get_like_video.go
  handlers/like_video_handlers/get_liked_videos.go
  handlers/like_video_handlers/remove_like_video.go
  handlers/piped_handlers/search.go
  handlers/piped_handlers/streams.go
  handlers/user_handlers/delete_user.go
  handlers/user_handlers/devices/delete_devices.go
  handlers/user_handlers/devices/get_devices.go
  handlers/user_handlers/edit_email.go
  handlers/user_handlers/login.go
  handlers/user_handlers/logout_user.go
  handlers/user_handlers/refresh_token.go
  handlers/user_handlers/signup.go
  main.go
Due: swag

Fix video and streams
  database/video.go
  ent/mutation.go
  ent/runtime.go
  ent/schema/videos.go
  ent/video.go
  ent/video/video.go
  ent/video/where.go
  ent/video_create.go
  ent/video_update.go
  handlers/like_video_handlers/get_liked_videos.go
  handlers/piped_handlers/streams.go
Due: ent, swag

Fix like APIs
  handlers/like_video_handlers/add_like_video.go
  handlers/like_video_handlers/get_like_video.go
  main.go
Due: swag

Add init.sql
  ent/migrate/migrations/20250209013322_init.sql
  ent/migrate/migrations/atlas.sum
Due: none

Create initial up and down
  ent/migrate/migrations/20250209033224_initial.up.sql
  ent/migrate/migrations/20250209033227_initial.down.sql
  ent/migrate/migrations/atlas.sum
Due: none

Add init schema.hcl
  atlas/schema.hcl
Due: none

Revert "Create initial up and down"
  ent/migrate/migrations/20250209013322_init.sql
  ent/migrate/migrations/20250209033227_initial.down.sql
  ent/migrate/migrations/atlas.sum
Due: none

Add 20250209043526_change_to_ent.sql
  ent/migrate/migrations/20250209043526_change_to_ent.sql
  ent/migrate/migrations/atlas.sum
Due: none

Update atlas/schema.hcl
  atlas/schema.hcl
Due: none

Remove nil user.email
  ent/migrate/schema.go
  ent/mutation.go
  ent/runtime.go
  ent/schema/users.go
  ent/user/user.go
  ent/user/where.go
  ent/user_create.go
  ent/user_update.go
Due: ent

Update migrate SQL
  ent/migrate/migrations/20250209043526_change_to_ent.sql
  ent/migrate/migrations/atlas.sum
Due: none

Working change_to_ent.sql
  ent/migrate/migrations/20250209043526_change_to_ent.sql
  ent/migrate/migrations/atlas.sum
  lefthook.yml
Due: none

Delete row if deleted_at is not null
  ent/migrate/migrations/20250209043526_change_to_ent.sql
  ent/migrate/migrations/atlas.sum
Due: none

Revert "Delete row if deleted_at is not null"
  ent/migrate/migrations/20250209043526_change_to_ent.sql
  ent/migrate/migrations/atlas.sum
Due: none

Rename device models
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  handlers/user_handlers/devices/get_devices.go
  models/device.go
Due: swag

ent supports uuid on PostgreSQL, no need map
  ent/migrate/schema.go
  ent/mixins/uuid_id_mixin.go
Due: ent

Enable FIX_SQLFLUFF on SuperLinter
  .github/workflows/lint.yml
Due: none

Add sqlfluff config
  .sqlfluff
Due: none

chore: fix linting issues
  ent/migrate/migrations/20250209013322_init.sql
  ent/migrate/migrations/20250209043526_change_to_ent.sql
Due: none

Update atlas hash after sql linting
  ent/migrate/migrations/atlas.sum
Due: none

Enable FIX_SQLFLUFF on SuperLinter (#36)
  .github/workflows/lint.yml
  .sqlfluff
  ent/migrate/migrations/20250209013322_init.sql
  ent/migrate/migrations/20250209043526_change_to_ent.sql
  ent/migrate/migrations/atlas.sum
Due: none

.github/workflows: add atlas ci workflow
  .github/workflows/ci-atlas.yaml
Due: none

Add newline at the end of file
  .github/workflows/ci-atlas.yaml
Due: none

.github/workflows: add atlas ci workflow (#38)
  .github/workflows/ci-atlas.yaml
Due: none

Fix error when pushing atlas
  ent/migrate/migrations/20250209043526_change_to_ent.sql
  ent/migrate/migrations/atlas.sum
Due: none

Move migrations to atlas default folder migrations
  migrations/20250209013322_init.sql
  migrations/20250209043526_change_to_ent.sql
  migrations/atlas.sum
Due: none

Revert "Move migrations to atlas default folder migrations"
  ent/migrate/migrations/20250209013322_init.sql
  ent/migrate/migrations/20250209043526_change_to_ent.sql
  ent/migrate/migrations/atlas.sum
Due: none

Remove schema.hcl
  atlas/schema.hcl
Due: none

Implement atlasgo.io (#37)
  atlas/schema.hcl
  ent/migrate/migrations/20250209043526_change_to_ent.sql
  ent/migrate/migrations/atlas.sum
Due: none

Update README after ent and atlas
  README.md
Due: none

Update README after ent and atlas (#39)
  README.md
Due: none
